.nav { height:57px;
box-shadow:0 3px 3px #A1A1A1;
background-color:#303136;}


.conwidth{width:1000px;
margin:0 auto;}

.fl{float:left;}

.fr{float:right;}

*{margin:0;
padding:0;
font-family: "微软雅黑";}

.logo{background-image:url(../image/QQ%E6%88%AA%E5%9B%BE20150503144329_r2_c2.png);
width:75px;
height:57px;
}

.baidu{background-image:url(../image/QQ%E6%88%AA%E5%9B%BE20150503144329_r2_c4.png);
width:129px;
height:57px;}

.nav_nav {padding-left:80px;
list-style:none;}

.nav_nav a{color:#FFF;
text-decoration:none;}

.nav_nav>li{float:left;}

.nav_nav>li>a{
font-size:20px;
display:block;
padding:0 50px;
line-height:57px;}



.nav_nav>li>a:hover{border-bottom:6px solid #01A8EE;
}

.news_mother{position:relative;}

.news{height:200px;
width:680px;
box-shadow:0 3px 3px #A1A1A1;
position:absolute;
top:63px;
background-color:#292A2E;
opacity:0.9;
display:none} 

.news>ul{width:136px;
float:left;
height:100%}

.news li{ list-style:none;
line-height:40px;
text-align:center;
font-size:16px;}

.news li a{display:block;}

.news li a:hover{ background-color:#505058;}

.news_mother:hover .news{display:block;}